<title>Ranking | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span>Current Q5 Rankings</span></h1>
		</div>
		<div class="x-breadcrumbs-wrap">
			<div class="x-breadcrumbs"><a href="http://theqfive.com"><span class="home"><i class="x-icon-home" data-x-icon="&#8962;"></i></span></a> <span class="delimiter"><i class="x-icon-angle-right" data-x-icon=">"></i></span> <span class="current" style="color: #28323F;">RANKINGS</span>
			</div>              
		</div>
	</div>
</div>
<div id="ranking">
	<%= render partial: 'leagueScript' %>
	<div id="leagueScatter" style="padding-top: 20px;"></div>
</div>
