<title>Q5 ZONE | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="q5zone"><%= link_to image_tag("q5zone.png"), root_path %></h1>
		</div>
		<div class="x-breadcrumbs-wrap">
			<div class="x-breadcrumbs"><a href="http://theq5.com"><span class="home"><i class="x-icon-home" data-x-icon="&#8962;" style="font-size: 18px; color: #333333;"></i></span></a> <span class="delimiter"><i class="x-icon-angle-right" data-x-icon="|"></i></span> <span class="current" style="color: #28323F;">Q5 ZONE</span>
			</div>              
		</div>
	</div>
</div>
<div id="rows">
	<div class="row-top">
		<%= link_to home_index_path do %>
		<h1>
			Match-up
			<p>See How Your Team Matches Up</p>
		</h1>
	</div>
	<% end %>
	<div class="row-center">
		<%= link_to portfolio_index_path do %>
		<h1>
			My Team
			<p>See Team Current and Historical Data</p>
		</h1>
	</div>
	<% end %>
	<div class="row-bottom">
		<%= link_to ranking_index_path do %>
		<h1>
			Rankings
			<p>See Q5 Rankings of The League</p>
		</h1>
	</div>
	<% end %>
</div>
