<title>The Q5 ZONE | The Q5</title>
<div id="rows">
	<div class="row-top">
		<%= link_to portfolio_index_path do %>
		<h1>
			My Team
			<p>
				Are you ready to get real insight on your team? Q-scores, points scored, wins and losses - it’s all here.  
				Chronologically sorted and displayed graphically for each team, we’ve got every game since 2011. Get ready to 
				relive the ups and downs of your team with The Q5.
			</p>
		</h1>
	</div>
	<% end %>
	<div class="row-center">
		<%= link_to home_index_path do %>
		<h1>
			Match-Ups
			<p>
				Ready to see how your team matches up? Season-Q scores for any two teams compared side-by-side. 
				Unlock the current strengths and weaknesses of any NFL by drive analytics. Finally, a match-up tool 
				that brings past-performance to life through interactive and easy-to-read graphics.  
				See your team vs theirs.
			</p>
		</h1>
	</div>
	<% end %>
	<div class="row-bottom">
		<%= link_to ranking_index_path do %>
		<h1>
			Rankings
			<p>
				You’ve got your favorites, but where do they rank this season? The Q5 presents Season-Q values every 
				team and each side of the ball separately. All 32 teams are presented in this game changing 3D interactive graphic.  
				Who’s hot and who’s not?  The bigger the marker, the hotter the team.  See who has the horses and whose 
				horses are running better right now.
			</p>
		</h1>
	</div>
	<% end %>
</div>
