<title>Portfolio | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span>My Team</span></h1>
			<%= link_to "http://www.theQ5.com/" do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
	</div>
</div>

<div id="teamPortfolio">
	<div id="indy_team">
	<% @teamNames.each do |tn| %>
		<p class="team_name"><%= link_to tn, portfolio_path(:id => tn) %></p>
	<% end %>
	</div>
</div>
