<title>Portfolio | The Q5</title>
<div class="x-container max width">
	<div class="x-landmark-breadcrumbs-wrap">
		<div class="x-landmark">
			<h1 class="h-landmark entry-title"><span>My Teams</span></h1>
			<%= link_to "http://www.theQ5.com/tuitorial" do %><p><i>Want to Learn More About This Tool?</i></p><% end %>
		</div>
		<div class="x-breadcrumbs-wrap">
			<div class="x-breadcrumbs"><a href="http://theq5.com"><span class="home"><i class="x-icon-home" data-x-icon="&#8962;" style="font-size: 18px; color: #333333;"></i></span></a> <span class="delimiter"><i class="x-icon-angle-right" data-x-icon="|"></i></span> <span class="current" style="color: #28323F;">Q5 ZONE</span>
			</div>              
		</div>
	</div>
</div>

<div id="teamPortfolio">
	<div id="indy_team">
	<% @teamNames.each do |tn| %>
		<p class="team_name"><%= link_to tn, portfolio_path(:id => tn) %></p>
	<% end %>
	</div>
</div>
