// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#transform{
	text-align: center;
	padding: 0 0 50px 0;
}
.newMatch {
	width: 100px;
	padding: 15px 10px 15px 20px;
	background-color: #e7e7e7;
	border: 1px solid #cccccc;
	color: #4b4b4b;
	margin-left: auto;
	margin-right: auto;
	a{
		text-decoration:none;
	}
	a:hover{
		background-color: inherit;
		color: #4b4b4b;
	}
}