// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rows{
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 15px 0 0 0;
	h1 {
		padding: 40px;
		margin: 0 0 0 0;
		color: #333333;
		p{
			margin: 1% 0 0 0;
			font-size: 20px;
			font-style: italic;
			font-weight: 600;
			text-align: left;
			line-height: 25px;
			color: #006E29;
			background-color: white;
			opacity: 0.9;
		}
	}
	.row-top, .row-center, .row-bottom{ 
		width: 100%;
		height: 100%;
		float: left;
		padding: 5px;
	}
	.row-top { 
		background: transparent url("matchup.png") center no-repeat;	
		background-size: fit;
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
	}
	.row-center{ 
		background: transparent url("myteam.png") center no-repeat;	
		background-size: fit;
	}
	.row-bottom{ 
		background: transparent url("ranking.png") center no-repeat;	
		background-size: fit;
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
	}
}
.q5zone {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
}